.main{
    text-align: center;
    padding-top: 100px;
}
input{
    height: 100px;
    width: 25%;
    text-wrap: none;
    text-align: center;
    font-size: 30px;
}
label{
    margin-right: 20px;
    font-size: 40px;
}
i{
    font-size: 40px;
    margin-right: 20px;
}
input:disabled{
    background-color: #e8f4e8;
}

@media screen and (max-width:720px){
    input{
        height: 50px;
        font-size: 20px;
    }
    i{
        font-size: 20px;
    }
}